@media (prefers-color-scheme: light) {
    :root {
        --html-background-color: #ffffff;
        --body-background-color: #ffffff;
        --feature-background-color: #f6f8fa;
        --table-alt-color: #bfbfc4;
        --content-text-color: #121214;
        --content-text-secondary-color: #121214;
        --input-background-color: #ffffff;
        --input-color: #000000;
        --title-color: #8ea3d3;
        --superhero-drop: #f6f8fa;
        --cta-color: #8ea3d3;
        --cta-font-color: #111;
        --code-text-color: var(--content-text-color);
        --code-block-color: #f6f8fa;
        --code-block-text-color: var(--content-text-color);
        --link-color: #313d5a;
        --tag-color: var(--content-text-color);
        --link-color-underline: #edddbb;
        --link-hover-underline: #edddbb;
        --shadow: #9fabb8;
        --scrollbar-thumb: var(--link-hover-underline);
        --scrollbar-bg: var(--code-block-color);
        --scrollbar-border: var(--code-block-color);
        --window-border-color: var(--content-text-secondary-color);
        --border-color: var(--content-text-color);
        --thin-border: solid 1px var(--border-color);
        --drop-shadow: 3px 4px 0 var(--shadow);
        --drop-shadow-secondary: 0 -2px 0 var(--superhero-drop),2px 2px 1px var(--superhero-drop),4px 4px 1px var(--superhero-drop);
        --accent: #0f1111;
        --color-primary: rgba(29,43,76,.85);
        --color-secondary: rgb(68, 75, 71);
        --color-bg: #f8faf8;
        --item-bg: rgba(255, 255, 255, 1);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --html-background-color: #22272e;
        --body-background-color: #22272e;
        --feature-background-color: #2d333b;
        --table-alt-color: var(--code-block-color);
        --content-text-color: #e0e0e0;
        --content-text-secondary-color: #a3a3a3;
        --input-background-color: #ffffff1f;
        --input-color: #ffffff;
        --title-color: #8ea3d3;
        --superhero-drop: #2d333b;
        --cta-color: #8ea3d3;
        --cta-font-color: #111;
        --code-text-color: var(--content-text-color);
        --code-block-color: var(--feature-background-color);
        --code-block-text-color: var(--code-text-color);
        --link-color: #8ea3d3;
        --tag-color: var(--feature-background-color);
        --link-color-underline: #d6b6a7;
        --link-hover-underline: #d6b6a7;
        --shadow: #081018;
        --scrollbar-thumb: var(--link-hover-underline);
        --scrollbar-bg: var(--code-block-color);
        --scrollbar-border: var(--html-background-color);
        --window-border-color: #111111;
        --border-color: var(--window-border-color);
        --thin-border: solid 1px var(--border-color);
        --drop-shadow: 3px 4px 0 var(--shadow);
        --drop-shadow-secondary: 0 -2px 0 var(--superhero-drop),2px 2px 1px var(--superhero-drop),4px 4px 1px var(--superhero-drop);
        --accent: #d4d9dd;
        --color-primary: #ccc;
        --color-secondary: #f0dbd1;
        --color-bg: #0f0f0f;
        --item-bg: #2b4e7c;
    }
}

#subscribe {
    background-color: #E8EAED;
    color: #2f3136
}