:root {
    --sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, "Ubuntu", "Noto Sans", "Droid Sans", Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
    --serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --font-size: 16px;
    --code-font: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    --article-title: var(--sans)
}

body {
    color: var(--content-text-color);
    font-family: var(--sans);
    font-size: calc(var(--font-size) * var(--scale));
    line-height: 1.6
}

h1 {
    font-size: calc(2.5em * var(--scale));
    text-shadow: var(--drop-shadow-primary);
}

h2 {
    font-size: calc(1.5em * var(--scale))
}

h3 {
    font-size: calc(1.3em * var(--scale))
}

h4 {
    font-size: calc(1.2em * var(--scale))
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
    font-family: var(--sans);
    line-height: 1.4
}

button {
    font-size: calc(var(--font-size) * var(--scale));
    font-family: var(--font-family)
}

figure>figcaption>h4 {
    font-size: 0.8rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    padding-top: 0px !important;
}