.h-card{flex-direction:column;align-items:center;justify-content:center;max-width:var(--content-width)}
.h-card .markdown > h1{color:var(--content-text-color);font-size:calc(1.5em * var(--scale));text-shadow: 2px 2px var(--shadow);}
/* .h-card .markdown{padding-left:1rem} */
@media all and (min-width:768px){
.h-card{text-align:left}
.h-card figure{margin: 0 auto;}
.h-card .markdown>h1{padding-top:1rem}
}
.h-card>#card>nav>p.row>a{font-style: italic;font-weight: 300;}
@media (max-width:420px){
    .h-card>#card>nav>p.row{flex-direction: row !important;}
}
.profile{flex-shrink:0;width:180px;height:180px;border-radius:50%;box-shadow:var(--drop-shadow);overflow:hidden;display:flex;justify-content:center;}
@media screen and (min-width:768px){
.profile{width:200px;height:200px}
}