#all-tags .tag{margin:.25em}
ul.tags-list{list-style:none;display:flex;flex-flow:column wrap;height:100%;width:100%}
a.tag{color:var(--tag-color);font-size:.9em!important;margin-left:0;margin-right:.5em}
a.tag:hover{color:var(--tag-color)}
[href$='/tags/algorithms/']{background:#e9f7eb}
[href$='/tags/algorithms/']:hover{background:#e9f7eb}
[href$='/tags/api/']{background:#e4ffe7}
[href$='/tags/api/']:hover{background:#e4ffe7}
[href$='/tags/aws/']{background:#b09d6e}
[href$='/tags/aws/']:hover{background:#b09d6e}
[href$='/tags/ci/cd/']{background:#b4d6db}
[href$='/tags/ci/cd/']:hover{background:#b4d6db}
[href$='/tags/coding/']{background:#ce7bce}
[href$='/tags/coding/']:hover{background:#ce7bce}
[href$='/tags/computing/']{background:#9c90f4}
[href$='/tags/computing/']:hover{background:#9c90f4}
[href$='/tags/cybersecurity/']{background:#ff0993}
[href$='/tags/cybersecurity/']:hover{background:#ff0993}
[href$='/tags/data/']{background:#5bc6c5}
[href$='/tags/data/']:hover{background:#5bc6c5}
[href$='/tags/django/']{background: #56be96}
[href$='/tags/django/']:hover{background: #56be96}
[href$='/tags/docs/']{background:#e46673}
[href$='/tags/docs/']:hover{background:#e46673}
[href$='/tags/git/']{background:#d6f1d9}
[href$='/tags/git/']:hover{background:#d6f1d9}
[href$='/tags/go/']{background:#bfeefd}
[href$='/tags/go/']:hover{background:#bfeefd}
[href$='/tags/javascript/']{background:#a997ae}
[href$='/tags/javascript/']:hover{background:#a997ae}
[href$='/tags/leadership/']{background:#a5e3ec}
[href$='/tags/leadership/']:hover{background:#a5e3ec}
[href$='/tags/life/']{background:#e4f9fc}
[href$='/tags/life/']:hover{background:#e4f9fc}
[href$='/tags/linux/']{background:#c3b6e9}
[href$='/tags/linux/']:hover{background:#c3b6e9}
[href$='/tags/open-source/']{background:#67f5f5}
[href$='/tags/open-source/']:hover{background:#67f5f5}
[href$='/tags/privacy/']{background:#739cff}
[href$='/tags/privacy/']:hover{background:#739cff}
[href$='/tags/protocols/']{background:#4690ba}
[href$='/tags/protocols/']:hover{background:#4690ba}
[href$='/tags/python/']{background:#fff69e}
[href$='/tags/python/']:hover{background:#fff69e}
[href$='/tags/terminal/']{background:#d2edd2}
[href$='/tags/terminal/']:hover{background:#d2edd2}
[href$='/tags/websites/']{background:#5de0ac}
[href$='/tags/websites/']:hover{background:#5de0ac}