#all-tags .tag{margin:.25em}
ul.tags-list{list-style:none;display:flex;flex-flow:column wrap;height:100%;width:100%}
a.tag{color:var(--tag-color);font-size:.9em!important;margin-left:0;margin-right:.5em}
a.tag:hover{color:var(--tag-color)}
[href$='/tags/algorithms/']{background:#d19f23}
[href$='/tags/algorithms/']:hover{background:#d19f23}
[href$='/tags/api/']{background:#d7a835}
[href$='/tags/api/']:hover{background:#d7a835}
[href$='/tags/aws/']{background:#dab14b}
[href$='/tags/aws/']:hover{background:#dab14b}
[href$='/tags/chatgpt/']{background:#eec867}
[href$='/tags/chatgpt/']:hover{background:#eec867}
[href$='/tags/ci/cd/']{background:#dfbc61}
[href$='/tags/ci/cd/']:hover{background:#dfbc61}
[href$='/tags/coding/']{background:#e6c578}
[href$='/tags/coding/']:hover{background:#e6c578}
[href$='/tags/computing/']{background:#ebd08e}
[href$='/tags/computing/']:hover{background:#ebd08e}
[href$='/tags/cybersecurity/']{background:#ebd6a3}
[href$='/tags/cybersecurity/']:hover{background:#ebd6a3}
[href$='/tags/data/']{background:#eddeb6}
[href$='/tags/data/']:hover{background:#eddeb6}
[href$='/tags/django/']{background: #f1e5cc}
[href$='/tags/django/']:hover{background: #f1e5cc}
[href$='/tags/docs/']{background:#f3ede1}
[href$='/tags/docs/']:hover{background:#f3ede1}
[href$='/tags/git/']{background:#fef8ec}
[href$='/tags/git/']:hover{background:#fef8ec}
[href$='/tags/go/']{background:#f1e5cc}
[href$='/tags/go/']:hover{background:#f1e5cc}
[href$='/tags/hardware/']{background:#eddeb6}
[href$='/tags/hardware/']:hover{background:#eddeb6}
[href$='/tags/javascript/']{background:#ebd6a3}
[href$='/tags/javascript/']:hover{background:#ebd6a3}
[href$='/tags/leadership/']{background:#ebd08e}
[href$='/tags/leadership/']:hover{background:#ebd08e}
[href$='/tags/life/']{background:#e6c578}
[href$='/tags/life/']:hover{background:#e6c578}
[href$='/tags/linux/']{background:#dfbc61}
[href$='/tags/linux/']:hover{background:#dfbc61}
[href$='/tags/nlp/']{background:#d3b15b}
[href$='/tags/nlp/']:hover{background:#d3b15b}
[href$='/tags/open-source/']{background:#dab14b}
[href$='/tags/open-source/']:hover{background:#dab14b}
[href$='/tags/privacy/']{background:#d7a835}
[href$='/tags/privacy/']:hover{background:#d7a835}
[href$='/tags/protocols/']{background:#d19f23}
[href$='/tags/protocols/']:hover{background:#d19f23}
[href$='/tags/python/']{background:#d7a835}
[href$='/tags/python/']:hover{background:#d7a835}
[href$='/tags/terminal/']{background:#dab14b}
[href$='/tags/terminal/']:hover{background:#dab14b}
[href$='/tags/websites/']{background:#dfbc61}
[href$='/tags/websites/']:hover{background:#dfbc61}