# Hugo
/public/
/resources/_gen/
hugo.exe
hugo.darwin
hugo.linux
.hugo_build.lock
hugo.deb

# Environments
.env*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VisualStudioCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
