/*
Starter CSS Kit
One of many nanostartups by Victoria Drake
Modified for feedcat
Another nanostartup by Victoria Drake
*/

@media (prefers-color-scheme: light) {
    :root {
        --color-primary: #24292e;
        --color-secondary: rgb(100, 100, 100);
        --color-bg: white;
        --color-shadow: rgba(0, 0, 0, .1);
        --shadow-shape: 0 30px 60px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: white;
        --color-secondary: #ccc;
        --color-bg: #24292e;
        --color-shadow: rgba(0, 0, 0, .1);
        --shadow-shape: 6px 8px 0px;
    }
    div.item, div#author {
        border: 1px solid var(--color-shadow);
    }
}

:root {
    color-scheme: light dark;
    --border-radius: 1rem;
    --content-width: 40rem;
    --scrollbar-bg: var(--color-bg);
    --scrollbar-thumb: var(--color-secondary);
}

@media (max-width: 375px) {
    :root {
        --scale: 0.8;
        --content-width: 90%;
    }
}

@media (min-width: 460px) {
    :root {
        --scale: 1;
    }
}

@media (min-width: 1000px) {
    :root {
        --scale: 1.1;
    }
}

html {
    box-sizing: border-box;
    background-color: var(--color-bg);
    min-height: 100vh;
}

body {
    margin: 0;
    min-height: 100vh;
    word-wrap: break-word;
    font-size: 16px;
    line-height: 1.5;
    font-family: x-locale-body, monospace;
    color: var(--color-primary);
    background-color: var(--color-bg);
}

p {
    margin: 0;
}

header, header div, nav, footer {
    min-height: 4rem;
    background-color: transparent;
    max-width: 100vw;
    margin: 0 auto;
    align-items: center;
}

header>div {
    max-width: 90rem;
}

@media (max-width: 375px) {
    .header {
        flex-direction: column !important;
    }
    .header > #menu > nav > ul {
        padding-left: 0;
    }
}

main {
    margin: 0 auto;
    background-color: var(--color-bg);
}

footer {
    width: 100%;
    margin: 3rem auto;
}

a {
    font-weight: 600;
    text-decoration: none;
    color: var(--accent);
}

.markdown {
    width: 100%;
}

.markdown p {
    margin: 1.5rem 0;
}

img {
    max-width: 100%;
}

#logo {
    font-size: calc(24px * var(--scale));
    font-weight: 800;
}

#logo img {
    max-height: 2rem;
}

nav ul {
    width: 100%;
    margin: 0;
    justify-content: flex-end;
}

nav ul li {
    list-style-type: none;
    margin: 0 2rem;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

section {
    margin: 0 auto;
    width: var(--content-width);
}

.cta {
    padding: 6rem 0 1rem 0;
    text-align: center;
    margin: 2rem auto;
}

h2 {
    font-size: calc(26px * var(--scale));
    margin: 0;
}

h3 {
    font-size: calc(20px * var(--scale));
    margin: 0;
}

hr {
    overflow: visible;
    border: 0;
    margin: 2em auto;
    position: relative;
    content: "";
    background: var(--color-primary);
    box-shadow: 3px 4px 0px var(--color-shadow);
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
}

hr:before {
    content: "";
    background: var(--color-primary);
    box-shadow: 3px 4px 0px var(--color-shadow);
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: absolute;
    left: -1rem;
}

hr:after {
    content: "";
    background: var(--color-primary);
    box-shadow: 3px 4px 0px var(--color-shadow);
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: absolute;
    left: 1rem;
}

/* Floaty card effect */
div.item, div#author {
    box-shadow: var(--shadow-shape) var(--color-shadow);
    background-color: var(--color-bg);
    border-radius: var(--border-radius);
    padding: 1.5rem;
}
.enclosure {
    box-shadow: var(--shadow-shape) var(--color-shadow);
    background-color: var(--color-bg);
    border-radius: var(--border-radius);
}

div#author {
    margin: 2rem auto;
    z-index: 2;
    display: flex;
    flex-direction: row-reverse;
    -webkit-animation: glow 5s ease-in-out infinite alternate;
    -moz-animation: glow 5s ease-in-out infinite alternate;
    animation: glow 5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        border: 1px dotted var(--color-shadow);
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px var(--white), 0 0 20px var(--white), 0 0 25px var(--white), 0 0 30px var(--white), 0 0 35px var(--white);
    }
    to {
        border: 1px dotted var(--color-shadow);
        box-shadow: 0 0 10px #fff, 0 0 15px #9d9db9, 0 0 20px #9d9db9, 0 0 25px #9d9db9, 0 0 30px #9d9db9, 0 0 40px #9d9db9, 0 0 60px #9d9db9;
    }
}

div#profile>img {
    max-height: 120px;
    margin: 0 1rem 0 0;
    border-radius: 50%;
}

div#profile {
    padding-right: 1rem;
}

#profile-name {
    font-size: calc(1.7rem * var(--scale));
    margin: 0;
}

div.item-head {
    flex-direction: row;
    justify-content: space-between;
}

.icon {
    color: var(--color-secondary);
}

.icon>svg {
    height: 1rem;
}

.meta {
    color: var(--color-secondary);
    font-size: calc(0.8rem * var(--scale));
    margin: 0 !important;
}

#author-img {
    max-height: 50px;
    margin: 0 1rem 0 0;
    border-radius: 50%;
}

#author-name {
    font-size: calc(0.8rem * var(--scale));
    font-weight: 800;
}

div.item {
    margin: 2rem auto;
    z-index: 2;
    overflow: hidden;
}

div.item-foot {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
}

#readmore {
    position: absolute;
    width: 100%;
    max-width: calc(var(--content-width) - 3rem);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, var(--color-bg) 70%);
    height: 80px;
    transform: translateY(-100px);
}

#readmore>p {
    position: absolute;
    margin: 1rem 0 0 0;
    bottom: 0;
    z-index: 3;
}

.pagination {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

ul.pagination {
    padding: 0;
}

.page-item {
    list-style-type: none;
    text-align: center;
}

.page-link {
    background: none;
}

.back-link {
    font-family: var(--code-font);
    font-size: calc(0.8rem * var(--scale));
}

.filter-icon {
    @media (prefers-color-scheme: light) {
        filter: invert(3%) sepia(3%) saturate(2734%) hue-rotate(201deg) brightness(95%) contrast(98%);
    }
    @media (prefers-color-scheme: dark) {
        filter: invert(96%) sepia(42%) saturate(0%) hue-rotate(148deg) brightness(94%) contrast(86%);
    }
}

.markdown>p>code {
    font-size: calc(0.8rem * var(--scale));
    background-color: var(--color-shadow);
    color: var(--color-primary);
    padding: 0 0.25rem;
}

.highlight {
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
    scrollbar-width: thin;
    padding: 1rem;
    font-size: calc(0.8rem * var(--scale));
    background-color: var(--color-shadow);
    color: var(--color-primary);
}

.highlight::-webkit-scrollbar {
    width: 1em;
}

.highlight::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
}

.highlight::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 6px;
    border: 3px solid var(--scrollbar-border);
}

.center {
    text-align: center;
    margin: 0 auto;
}