{{ define "main" }}
    <div class="page-container">
        <section class="page-header">
            <h1 class="page-title">{{ .Title }}</h1>
            {{ if .Description }}
                <p class="page-description">{{ .Description }}</p>
            {{ end }}
        </section>

        {{ if eq .Section "tags" }}
            <div class="tags-container" id="all-tags">
                {{ range .Site.Taxonomies.tags }}
                    <a class="tag" href="{{ .Page.Permalink }}">
                        {{ .Page.Title | lower }} ({{ .Count }})
        </a>
                {{ end }}
            </div>
        {{ end }}

        {{ .Content }}

        {{ $paginator := .Paginate (where .Pages "Type" "ne" "page") }}

        <ul class="post-list">
            {{ range $paginator.Pages }}
                {{ partial "post-item.html" (dict "post" . "wrapperElement" "li" "showAllTags" false) }}
            {{ end }}
        </ul>

        <!-- Pagination -->
        {{ if gt $paginator.TotalPages 1 }}
            <div class="pagination">
                {{ if $paginator.HasPrev }}
                    <a href="{{ $paginator.Prev.URL }}" class="prev prev-page">← Previous</a>
                {{ else }}
                    <span class="prev prev-page disabled">← Previous</span>
                {{ end }}

                <div class="pages">
                    {{ range $paginator.Pagers }}
                        <a href="{{ .URL }}" class="{{ if eq . $paginator }}active{{ end }}">{{ .PageNumber }}</a>
                    {{ end }}
                </div>

                {{ if $paginator.HasNext }}
                    <a href="{{ $paginator.Next.URL }}" class="next next-page">Next →</a>
                {{ else }}
                    <span class="next next-page disabled">Next →</span>
                {{ end }}
            </div>
        {{ end }}
    </div>
{{ end }}
