{{ define "main" }}
<article>

    <h1>{{ if .Params.heading }}{{ .Params.heading }}{{ else }}{{ lower .Title }} --list-all{{ end }}</h1>
    <div class="page-separator">
        <hr />
    </div>

    <div class="cloud">
        <ul class="tags-list">
            {{ range .Site.Taxonomies.tags.ByCount }}
            <li class="tag-li"><a class="tag button" href="{{ "tags/" | relURL }}{{ .Name | urlize }}/">{{ .Name }}&nbsp;({{ .Count }})</a>
            </a></li>
            {{ end }}
        </ul>
    </div>
</article>
{{ end }}
