:root {
    --primary-bg: #fff;
    --primary-text: #353d49;
    --secondary-text: #252627;
    --link-color: #879094;
    --shadow-color: rgba(0, 0, 0, 0.15);
    --borders: #555;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-bg: #000408;
        --primary-text: #fff;
        --secondary-text: #fefefe;
        --link-color: #9fb1b6;
    }
}

/* Font Faces */
@font-face {
    font-family: 'Sohne';
    src: url('/fonts/TestSöhne-Buch.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sohne';
    src: url('/fonts/TestSöhne-Dreiviertelfett.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body,
nav,
time {
    font-family: 'Sohne', sans-serif;
    font-size: 18px;
}

code,
time {
    font-size: 0.9rem;
}

.e-content p a,
.e-content li a {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.25em;
}

.site-logo {
    max-height: 36px;
}

@media (prefers-color-scheme: dark) {
    .site-logo {
        filter: brightness(50%) invert(75%);
    }
}

.archived-banner {
    background-color: #f2d7d5;
    /* Light red/pink background to catch attention */
    color: #a94442;
    /* Darker red text for contrast */
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #e4b9b8;
    /* Border slightly darker than background */
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
    /* Space below the banner */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
}

.archived-banner p {
    margin: 0;
    padding: 0;
}

h1.p-name {
    font-size: 2.75rem;
    text-shadow: 0 2px 5px var(--shadow-color);
}

h2 {
    font-size: 1.2rem;
}

.hero {
    padding: 1rem;
}

.pagination {
    max-width: 100%;
}

@media (min-width: 641px) {
    .hero {
        min-height: 200px;
    }

    .profile {
        max-width: 450px;
    }
}

form input,
form button {
    font-size: 16px;
}

.form-inline input[type="text"], .form-inline button {
    border-radius: 10px;
}

.profile {
    margin-top: 2rem;
    padding: 0 2rem;
}

.profile > .content {
    padding: 0;
}

.profile-photo {
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.latest-post {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    /* border: 1px solid var(--borders) */
}

.latest-post .text {
    padding: 1.5rem 0;
}

@media (min-width: 641px) {
    .latest-post .text {
    }
}


.latest-post .text h2 {
    margin-top: 0;
}

.article-link,
.article-link:visited {
    color: var(--primary-text)
}

.list-post {
    list-style-type: none;
    margin: 0;
}

.metadata,
.small {
    font-size: 0.9rem;
    margin-top: 0;
}

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.justify {
    justify-content: space-between;
}