{{ define "main" }}
<div class="home-page">
    <section class="hero">
        <div class="profile">
            {{ .Content }}
        </div>
    </section>
    
    <section class="home-latest-post">
        <h2>Latest Post</h2>
        {{ $latestPost := first 1 (where .Site.RegularPages "Type" "posts") }}
        {{ range $latestPost }}
            {{ partial "post-item.html" (dict "post" . "wrapperElement" "article" "showAllTags" false) }}
        {{ end }}
    </section>

    <section class="home-featured-posts">
        <h2>Featured Posts</h2>
        {{ $featuredPosts := where .Site.RegularPages "Params.featured" true }}
        {{ $latestPostPermalink := "" }}
        {{ range $latestPost }}
            {{ $latestPostPermalink = .Permalink }}
        {{ end }}

        {{ $filteredFeaturedPosts := slice }}
        {{ range $featuredPosts }}
            {{ if ne .Permalink $latestPostPermalink }}
                {{ $filteredFeaturedPosts = $filteredFeaturedPosts | append . }}
            {{ end }}
        {{ end }}
        
        {{ range $index, $post := $filteredFeaturedPosts }}
            {{ partial "post-item.html" (dict "post" . "wrapperElement" "article" "showAllTags" false) }}
        {{ end }}
        
        <div class="view-all">
            <a href="/posts/" class="view-all-link">View all posts →</a>
        </div>
    </section>
</div>
{{ end }}
