{{ define "main" }}
<div class="home-page">
        <section class="hero">
        <div class="profile">
            {{ .Content }}
        </div>
    </section>
    
    <section class="home-recent-posts">
        
        {{ $recentPosts := where .Site.RegularPages "Section" "posts" | first 5 }}
        
        {{ range $index, $post := $recentPosts }}

            {{ partial "post-item.html" (dict "post" . "wrapperElement" "article" "showAllTags" false) }}
        {{ end }}
        
        <div class="view-all">
            <a href="/posts/" class="view-all-link">View all posts →</a>
        </div>
    </section>
</div>
{{ end }}
