{{ define "main" }}
    {{ $min := 1 }}{{ $max := .Site.Params.numImages }}{{ $randomNumber := (add (mul (math.Rand) (add (sub $max $min) 1)) $min) | int }}

    <section class="hero container"
    id="heroSection" onload="adjustTextColor(this)">
        <div>
            <h1 class="p-name" id="textOverlay">{{ .Title }}</h1>
        </div>
    </section>
    <main class="post h-entry container row">
        <div class="post">
            <div class="post-data row">
                <time class="dt-published" datetime="{{ .Date }}">
                    <a class="u-url" href="{{ .Permalink }}">{{ .Date | time.Format ":date_medium" }}</a>
                </time>
                <span rel="author" class="p-author h-card">
                    <img class="u-photo hidden" src="{{ with $.Site.Params.Author.image }}{{ . }}{{ else }}{{ end }}" />
                    <span class="p-name hidden" rel="me">{{ with .Params.author }}{{ . }}{{ else }}{{ $.Site.Params.Author.name }}{{ end }}</span>
                </span>
            </div>
            <div class="e-content">
                {{ .Content }}
                {{ with .Params.tags }}
                <span class="tag-container">
                    {{ range . }}
                    <a class="p-category tag" href="{{ "tags/" | relURL }}{{ . | urlize }}/">
                        {{ . }}
                    </a>&nbsp;
                    {{ end }}
                </span>
                {{ end }}
            </div>
        </div>
        {{ if .Params.noToc }}
        {{ else if .Site.Params.useToc }}
            {{ $headingsCount := trim (partial "count-headings.html" .Content) " \n" }}
            {{ $headingsCountInt := int $headingsCount }}
            {{ $multiHeading := ge $headingsCount 1 }}
            {{ if $multiHeading }}
                <aside class="tableOfContentContainer" id="tableOfContentContainer">
                    <h3>Table of Contents</h3>
                    {{ .TableOfContents }}
                </aside>
            {{ end }}
        {{ end }}
    </main>
    <script>
        function adjustTextColor(sectionId) {
            const section = document.getElementById(sectionId);
            const style = window.getComputedStyle(section);
            const imageUrl = style
                .backgroundImage
                .slice(4, -1)
                .replace(/["']/g, "");
            const image = new Image();
            image.src = imageUrl;
            image.onload = function () {
                const canvas = document.createElement('canvas');
                const context = canvas.getContext('2d');
                canvas.width = image.width;
                canvas.height = image.height;
                context.drawImage(image, 0, 0, image.width, image.height);
                const imageData = context.getImageData(0, 0, canvas.width, canvas.height);
                const data = imageData.data;
                let r = 0,
                    g = 0,
                    b = 0;
                for (let i = 0; i < data.length; i += 4) {
                    r += data[i];
                    g += data[i + 1];
                    b += data[i + 2];
                }
                r /= (data.length / 4);
                g /= (data.length / 4);
                b /= (data.length / 4);
                const brightness = Math.sqrt(0.299 * r * r + 0.587 * g * g + 0.114 * b * b);
                const textColor = brightness > 128
                    ? 'black'
                    : 'white';
                const shadowColor = brightness > 128
                    ? 'rgba(255, 255, 255, 0.7)'
                    : 'rgba(0, 0, 0, 0.7)';
                const textOverlay = document.getElementById('textOverlay');
                textOverlay.style.color = textColor;
                textOverlay.style.textShadow = `0 0 5px ${shadowColor}, 0 0 10px ${shadowColor}, 0 0 20px ${shadowColor}, 0 0 40px ${shadowColor}, 0 0 80px ${shadowColor}, 0 0 90px ${shadowColor}, 0 0 100px ${shadowColor}, 0 0 150px ${shadowColor}`;
            };
        }
        // Adjust the text color based on the section's background-image
        adjustTextColor('heroSection');
    </script>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const observerForTableOfContentActiveState = new IntersectionObserver(entries => {
                entries.forEach(entry => {
                    const id = entry
                        .target
                        .getAttribute('id');

                    if (entry.intersectionRatio > 0) {
                        clearActiveStatesInTableOfContents();
                        document
                            .querySelector(`nav li a[href="#${id}"]`)
                            .parentElement
                            .classList
                            .add('active');
                    }
                });
            });
            document
                .querySelectorAll('h1[id],h2[id],h3[id],h4[id]')
                .forEach((section) => {
                    observerForTableOfContentActiveState.observe(section);
                });

        });

        function clearActiveStatesInTableOfContents() {
            document
                .querySelectorAll('nav li')
                .forEach((section) => {
                    section
                        .classList
                        .remove('active');
                });
        }
    </script>
{{ end }}