<footer class="footer">
    <div class="footer-container">
        <div class="footer-left h-card">
            <img src="{{ .Site.Params.author.image }}" alt="{{ .Site.Params.author.name }}" class="footer-photo u-photo">
            <div class="footer-info">
                <p>
                    <strong class="p-name">{{ .Site.Params.author.name }}</strong>
                </p>
                <p class="footer-description p-note">
                    {{ .Site.Params.description }}
                </p>
                <p>© {{ now.Format "2006" }} · All rights reserved</p>
            </div>
            <a href="{{ .Site.BaseURL }}" class="u-url" style="display: none;">{{ .Site.BaseURL }}</a>
        </div>

        <div class="footer-social">
            {{ range .Site.Params.social }}
                <a href="{{ .url }}" title="{{ .name }}" rel="me" class="u-url">
                    <img src="{{ .icon }}" alt="{{ .name }}">
                </a>
            {{ end }}
        </div>
    </div>
</footer>
