<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <img src="{{ .Site.Params.author.image }}" alt="{{ .Site.Params.author.name }}" class="footer-photo">
            <div class="footer-info">
                <p>
                    <strong>{{ .Site.Params.author.name }}</strong>
                </p>
                <p class="footer-description">
                    {{ .Site.Params.description }}
                </p>
                <p>© {{ now.Format "2006" }} · All rights reserved</p>
            </div>
        </div>

        <div class="footer-social">
            {{ range .Site.Params.social }}
                <a href="{{ .url }}" title="{{ .name }}" rel="me">
                    <img src="{{ .icon }}" alt="{{ .name }}">
                </a>
            {{ end }}
        </div>
    </div>
</footer>
