<footer class="footer">
    <div class="footer-container">
        <div class="footer-left h-card">
            <img src="{{ .Site.Params.author.image }}" alt="{{ .Site.Params.author.name }}" class="footer-photo u-photo">
            <div class="footer-info">
                <p>
                    <strong class="p-name">{{ .Site.Params.author.name }}</strong>
                </p>
                {{ with .Site.Params.description }}
                    <p class="footer-description p-note">
                        {{ . | markdownify }}
                    </p>
                {{ end }}
                <p>© {{ now.Format "2006" }} · All rights reserved</p>
            </div>
            <a href="{{ .Site.BaseURL }}" class="u-url" style="display: none;">{{ .Site.BaseURL }}</a>
        </div>

        <div class="footer-social">
            {{ with .Site.Params.social }}
                {{ range . }}
                    <a href="{{ .url }}" title="{{ .name }}" rel="me" class="u-url">
                        <img src="/social/{{ .icon }}" alt="{{ .name }}">
                    </a>
                {{ end }}
            {{ end }}
        </div>
    </div>
</footer>