<!-- Search index for lunr.js -->
<script>
  window.store = {
    {{ range $index, $page := where .Site.RegularPages "Type" "ne" "page" }}
      "{{ $index }}": {
        "id": "{{ $index }}",
        "title": {{ .Title | jsonify }},
        "content": {{ .Plain | jsonify }},
        "url": "{{ .Permalink }}",
        "description": {{ with .Description }}{{ . | jsonify }}{{ else }}{{ "" | jsonify }}{{ end }},
        "tags": [{{ range $tindex, $tag := .Params.tags }}{{ if $tindex }}, {{ end }}{{ $tag | jsonify }}{{ end }}],
        "category": [{{ range $tindex, $tag := .Params.tags }}{{ if $tindex }}, {{ end }}{{ $tag | jsonify }}{{ end }}]
      }{{ if ne (add $index 1) (len (where .Site.RegularPages "Type" "ne" "page")) }},{{ end }}
    {{ end }}
  };
</script>
