<li role="none" class="h-entry">
    <a rel="author" class="p-author h-card hidden" href="{{ $.Site.BaseURL }}">{{ $.Site.Author.name }}</a>
    <a role="menuitem" class="article-link u-url p-name" href="{{ .Permalink }}">{{ .Title }}</a>
    <p class="p-summary e-content">
        {{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Content | truncate 100 }}{{ end }}
    </p>
    {{ if .Params.tags }}
    <p class="metadata">
        {{ range first 1 (.GetTerms "tags") }}
        <a class="p-category tag button" href="{{ .Permalink }}">{{ .Title | lower }}</a>
        {{ end }}
        &nbsp;{{ .ReadingTime }} min read
        {{ if .Site.IsServer }} &nbsp;
        <span  style="text-align:center;font-family:var(--code-font)">{{ dateFormat "Jan 2, 2006" .Params.date }} and modified:
            {{ dateFormat "Jan 2, 2006" .Lastmod }}</span>
        {{ end }}
        <time class="hidden dt-published">{{ .Date }}</time>
    </p>
    {{ end }}
</li>
