<div class="h-card row bio" rel="author">
    <div class="markdown" id="card">
        {{ if .Site.Author.image }}
        <figure class="profile">
            <img class="u-photo" alt="{{ with .Site.Author.name }}{{ . }}{{ else }}Author's photo{{ end }}"
                src="{{ with .Site.Author.image }}/{{ . }}{{ end }}">
        </figure>
        {{ end }}
        <div class="p-note">
            {{ $bio := "bio/_index.md" }}
            {{ with .Site.GetPage $bio }}
            <h1>{{ .Title }}</h1>
            {{ .Content }}
            {{ else }}
            {{ .Site.Author.about }}
            {{- end }}
        </div>
    </div>
</div>
