{{ partial "plausible.html" . }}

{{ with .Site.Params.monetization }}
    <meta name="monetization" content="{{ . }}">
{{ end }}

<!-- Favicons with correct paths -->
<link rel="icon" type="image/png" sizes="32x32" href="/images/fav/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/images/fav/favicon-16x16.png">
<link rel="apple-touch-icon" sizes="180x180" href="/images/fav/apple-touch-icon.png">
<link rel="icon" type="image/x-icon" href="/images/fav/favicon.ico">
<link rel="manifest" href="/images/fav/site.webmanifest">

<!-- IndieAuth -->
<link rel="authorization_endpoint" href="https://indieauth.com/auth">
<link rel="token_endpoint" href="https://tokens.indieauth.com/token">
{{ with .Site.Params.githubuser }}
<link rel="me" href="https://github.com/{{ . }}" />{{ end }}
