<footer>
    <div class="social-media">
        {{ range site.Params.social}}
            <a href="{{ .url }}"><img alt="{{ .name }}" src="{{ .icon }}"/></a>
        {{ end }}
    </div>
    <div class="logo h-card">
        <a class="u-url" href="{{ .Site.Home.Permalink }}">
            <img alt="Site Logo" class="site-logo u-photo" src="{{ $.Site.Params.logo | default "/images/logo.png" }}"/>
        </a>
    </div>
    <nav class="menu">
        <ul>
            {{- range site.Menus.main }}
                <li>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
            {{- end }}
        </ul>
    </nav>
    {{ partial "search-index.html" . }}
</footer>