<li role="none" class="list-post h-entry container col">
    <div>
    <a rel="author" class="p-author h-card hidden" href="{{ $.Site.BaseURL }}">{{ $.Site.Author.name }}</a>
    <h2 class="blog-link"><a role="menuitem" class="blog-link u-url p-name" href="{{ .Permalink }}">{{ .Title }}</a></h2>
    <p class="p-summary e-content small">
        {{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Content | truncate 100 }}{{ end }}
    </p>
    </div>
    <p class="metadata small">
        {{ range first 1 (.GetTerms "tags") }}
        <a class="p-category tag button" href="{{ .Permalink }}">{{ .Title | lower }}</a>
        {{ end }}
        &nbsp;{{ .ReadingTime }} min read
        <time class="hidden dt-published">{{ .Date }}</time>
    </p>
</li>
