<ul id="shields">
    <li>
        <a href="https://twitter.com/victoriadotdev" alt="Follow on Twitter"><img alt="Follow on Twitter" src="https://img.shields.io/twitter/follow/victoriadotdev?label=%40victoriadotdev&style=social" /></a>
    </li>
    <li>
        <a href="https://github.com/victoriadrake" alt="Follow on GitHub"><img alt="Follow on GitHub" src="https://img.shields.io/github/followers/victoriadrake?label=%40victoriadrake&style=social" /></a>
    </li>
    <li>
        <a href="https://mastodon.technology/@victoria" alt="Follow on Mastodon"><img alt="Follow on Mastodon" src="https://img.shields.io/mastodon/follow/190340?domain=https%3A%2F%2Fmastodon.technology&label=%40victoria&style=social" /></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/victoriadotdev/" alt="Find me on LinkedIn"><img alt="Find me on LinkedIn" src="https://img.shields.io/badge/linkedin-Victoria%20Drake-blue?style=social" /></a>
    </li>
    <li>
        <a href="https://dev.to/victoria" alt="Follow on DEV.to"><img alt="Follow on DEV.to" src="https://img.shields.io/badge/dev.to-%40victoria-blueviolet?style=social" /></a>
    </li>
    <li>
        <a href="https://medium.com/@victoriadotdev" alt="Follow on Medium"><img alt="Follow on Medium" src="https://img.shields.io/badge/Medium-%40victoriadotdev-lightgrey?style=social" /></a>
    </li>
</ul>
