{{ define "title" }}
&nbsp;
{{ end }}

{{ define "main" }}
<article>

    <div class="markdown rpg">
        <div id="rpg">

            {{ with .Site.GetPage "/404" }}{{ .Content }}{{ end }}
        </div>

        <p>
            Choose an available portal:
            {{ $p := sub (len $.Site.Menus.fourohfour) 1 }}
            {{ range first $p $.Site.Menus.fourohfour }}
            <a href="{{ .URL }}">
                {{ .Name }}</a>,
            {{ end }}
            {{ range last 1 $.Site.Menus.fourohfour }}
            or <a href="{{ .URL }}">
                {{ .Name }}</a>.
            {{ end }}
        </p>
        <input id="play" type="text">
    </div>

</article>
{{ end }}

{{ define "footer" }}
<script>
    console.log("🍳")
    const cli = document.getElementById("play")
    const rpg = document.getElementById("rpg")
    const advice = ["ask mage", "advice", "ask", "mage"]
    cli.focus();
    document.addEventListener('keydown', function (event) {
        if (event.keyCode == 13) {
            if (advice.indexOf(cli.value) != -1) {
                rpg.innerHTML = "<p>🧙 {{ range first 1 (shuffle $.Site.Data.clues.clues) }}{{ . }}{{end}}</p>"
                cli.value = ""
            } else if ("{{ range $.Site.Menus.fourohfour }}{{.}}{{end}}".includes(cli.value)) {
                switch (cli.value) {
                    {{ range $.Site.Menus.fourohfour }}
                    case "{{.Name}}":
                        window.location = "{{.URL}}";
                        break;
                    {{ end }}
                    default:
                        rpg.innerHTML = "<p>That seemed to have no effect. Guess you'll have to click a link, or something.</p>"
                        cli.value = "";
                }
            }
            else {
                rpg.innerHTML = "<p>That seemed to have no effect. Guess you'll have to click a link, or something.</p>"
                cli.value = ""
            }
        }
    })
</script>
{{ end }}
