#cover-image {
    margin: 0 auto
}

#cover-image img {
    border-radius: 8px;
    object-fit: cover
}

.title-header {
    font-size: calc(3rem * var(--scale));
    font-weight: 700;
    color: var(--title-color);
}

.metadata {
    font-size: .9em;
    line-height: 1.6;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline
}

.metadata span {
    padding-right: .5em;
    align-items: baseline
}

.subtitle {
    padding: 1em 0;
    margin: 0;
    font-size: calc(1.3em * var(--scale))
}

.toc-dropdown {
    padding: 0;
    position: relative;
    width: auto
}

.toc-dropdown-icon {
    font-size: 1.25rem
}

.toc-title {
    font-weight: 700;
    margin-top: 0 !important;
    cursor: pointer
}

input[type=checkbox] {
    display: none
}

#TableOfContents {
    display: none
}

#TableOfContents li {
    margin-top: .5em
}

#TableOfContents li>ul>li {
    list-style: disc
}

#TableOfContents ul {
    margin-left: 2em
}

input[type=checkbox]:checked~#TableOfContents {
    display: block
}

#up-container {
    display: none
}

@media all and (min-width:768px) {
    #up-container {
        padding: calc(60px/2);
        display: flex;
        font-size: 1.5em;
        align-items: center;
        justify-content: center;
        transform: none;
        transition: all 150ms;
        width: 100%;
        text-align: center
    }

    #up-container #up {
        border-bottom: none !important;
        cursor: pointer
    }

    #up-container #up:hover {
        transform: scaleY(-1) translate(0, 5px);
        transform-origin: center
    }
}

.related {
    text-align: left;
    margin: 0 auto;
    width: 100%
}

.related h3 {
    margin-bottom: 1rem
}

.related ul li {
    list-style-type: none
}

.related ul li a {
    font-size: 1.15em
}

.related ul li p {
    margin: 0 !important;
}

.related .markdown>pre.chroma {
    padding: 1.25em 0
}

.page-separator {
    margin: 3em auto 0 auto
}

#deprecated {
    color: #e0e2db;
    background-color: #8c3c48;
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid #7a2733
}

#deprecated a {
    color: #e0e2db
}

#deprecated p {
    margin-top: 0 !important
}

.bio {
    margin: 3em auto;
    font-size: 0.9rem;
    border-radius: 8px;
    box-shadow: var(--drop-shadow);
    background-color: rgba(255, 255, 255, .5)
}

#card>.profile {
    width: 130px;
    height: 130px;
    margin-bottom: 1rem
}

@media all and (min-width:768px) {
    #card>.profile {
        float: left;
        margin-top: 1rem;
        margin-right: 2rem;
    }
}

@media (max-width:420px) {
    #card>.profile {
        margin: 1rem auto;
    }

    .bio {
        margin: 3em 0.5em;
    }
}

#card>.profile>img {
    margin: 0;
}

.bio {
    background-color: var(--feature-background-color);
}

.bio>.markdown p {
    text-align: left
}

.bio>.markdown a {
    font-style: italic;
    font-weight: 300;
}

.bio>#card {
    padding: 1rem !important
}

.bio>.markdown>.p-note h1 {
    padding-top: 0 !important;
    font-size: 1.25rem;
    color: var(--feature-text-color);
    text-shadow: none;
}

.bio>.markdown>.p-note,
.bio>.markdown>.p-note a {
    color: var(--feature-text-color)
}

#article-list {
    margin: 0
}

#article-list li {
    margin: 0;
    padding: 0 0 2em 0;
    list-style: none;
    font-family: var(--article-title)
}

@media all and (min-width:768px) {
    #article-list li {
        padding: 1em 0 1em 0
    }

    .bio>#card {
        padding: 2rem !important
    }
}

.article-link {
    margin: 4px 3px 0 0;
    font-size: calc(1.5em * var(--scale));
    color: var(--title-color);
    line-height: 1.1;
    font-weight: 500;
    border-bottom: none
}

.article-link:hover {
    border-bottom: none;
}