@media (prefers-color-scheme: light) {
    :root {
        --html-background-color: #ffffff;
        --body-background-color: #ffffff;
        --feature-background-color: #222222;
        --feature-text-color: #ffffff;
        --table-alt-color: #bfbfc4;
        --content-text-color: #121214;
        --content-text-secondary-color: #121214;
        --input-background-color: #fef8ec;
        --input-color: #000000;
        --title-color: #1e1e1e;
        --superhero-drop: var(--shadow);
        --cta-color: #d3a575;
        --cta-font-color: #111;
        --code-text-color: var(--content-text-color);
        --code-block-color: #fbfaf6;
        --code-block-text-color: var(--content-text-color);
        --link-color: #222222;
        --tag-color: var(--content-text-color);
        --link-color-underline: #edddbb;
        --link-hover-underline: #edddbb;
        --shadow: #d1d2d6;
        --scrollbar-thumb: var(--link-hover-underline);
        --scrollbar-bg: var(--code-block-color);
        --scrollbar-border: var(--code-block-color);
        --window-border-color: var(--content-text-secondary-color);
        --border-color: var(--content-text-color);
        --thin-border: solid 1px var(--border-color);
        --drop-shadow: 3px 4px 0 var(--shadow);
        --drop-shadow-primary: 3px 3px 1px var(--superhero-drop);
        --drop-shadow-secondary: 2px 2px 1px var(--superhero-drop),4px 4px 1px var(--superhero-drop);
        --accent: #0f1111;
        --color-primary: rgba(29,43,76,.85);
        --color-secondary: rgb(68, 75, 71);
        --color-bg: #f8faf8;
        --item-bg: rgba(255, 255, 255, 1);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --html-background-color: #222222;
        --body-background-color: #222222;
        --feature-background-color: #1d1d1d;
        --feature-text-color: var(--content-text-color);
        --table-alt-color: var(--code-block-color);
        --content-text-color: #e7e6df;
        --content-text-secondary-color: #a3a3a3;
        --input-background-color: #ffffff;
        --input-color: var(--html-background-color);
        --title-color: #ffffff;
        --superhero-drop: #1d1d1d;
        --cta-color: #f0d1c2;
        --cta-font-color: #111;
        --code-text-color: var(--content-text-color);
        --code-block-color: var(--feature-background-color);
        --code-block-text-color: var(--code-text-color);
        --link-color: #f0d1c2;
        --tag-color: var(--feature-background-color);
        --link-color-underline: #d6b6a7;
        --link-hover-underline: #d6b6a7;
        --shadow: #121013;
        --scrollbar-thumb: var(--link-hover-underline);
        --scrollbar-bg: var(--code-block-color);
        --scrollbar-border: var(--html-background-color);
        --window-border-color: #222222;
        --border-color: var(--window-border-color);
        --thin-border: solid 1px var(--border-color);
        --drop-shadow: 3px 4px 0 var(--shadow);
        --drop-shadow-primary: 4px 4px 1px var(--superhero-drop);
        --drop-shadow-secondary: 0 -2px 0 var(--superhero-drop),2px 2px 1px var(--superhero-drop),4px 4px 1px var(--superhero-drop);
        --accent: #d4d9dd;
        --color-primary: #ccc;
        --color-secondary: #f0dbd1;
        --color-bg: #121013;
        --item-bg: #121013;
    }
}

#subscribe {
    background-color: white;
    color: #2f3136
}