#subscribe {
    width: 100%;
    min-width: var(--main-width);
    height: auto;
    margin: 2rem auto !important;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    border-radius: 8px;
    box-shadow: var(--drop-shadow);
    border: 1px solid var(--shadow)
}

#subscribe input {
    color: var(--input-color);
    border: none;
}

#subscribe button {
    cursor: pointer
}

@media screen and (min-width:768px) {
    #subscribe {
        width: auto;
        height: auto !important;
        margin-bottom: 0
    }
}

#sub-footer {
    width: 100%;
    min-height: 250px
}

#search {
    margin-top: 2rem
}

#search>input.button {
    background-color: var(--input-background-color);
}

input:focus-visible {
    outline: none;
}

input {
    background-color: var(--input-background-color);
}

input::placeholder {
        color: var(--content-text-color);
}

@media (prefers-color-scheme: dark) {
    input::placeholder {
        color: var(--body-background-color);
    }
}