@media all and (max-width:768px) {
    :root {
        --scale: 0.9;
        --main-width: 95%
    }
}

@media all and (min-width:768px) {
    :root {
        --scale: 0.95;
        --main-width: 50%
    }
}

@media all and (min-width:1848px) {
    :root {
        --scale: 1;
        --main-width: 42%
    }
}

@media all and (min-width:2300px) {
    :root {
        --main-width: 60em
    }
}

header {
    background: var(--body-background-color);
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

@media screen and (min-width:768px) {
    header {
        height: 50px
    }
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    width: var(--main-width)
}

section {
    margin: 2rem auto 0 auto
}

@media screen and (min-width:768px) {
    section#index-card {
        margin: 3rem auto !important
    }
}

section#feed-card {
    padding: var(--content-padding)
}

.flex {
    display: flex;
    align-items: center
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

@media screen and (min-width:768px) {
    .row {
        flex-direction: row
    }
}

.column {
    display: flex;
    flex-direction: column
}

.form-row {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    border: none
}

@media screen and (min-width:768px) {
    .form-row {
        padding: 1em 0 0 0 !important;
        align-items: flex-start;
        flex-flow: row wrap;
        justify-content: flex-end
    }
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto;
    width: 100%
}

.grid {
    display: grid;
    gap: 2rem
}

.grid-item {
    border-radius: .5rem;
    text-align: center;
    box-shadow: var(--shadow);
    justify-content: space-between
}

@media (max-width:420px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(70vw, 1fr))
    }

    .grid-item {
        padding: 1rem
    }
}

@media (min-width:420px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
    }

    .grid-item {
        padding: 3rem
    }
}

.container,
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    width: 100%
}

.form-container {
    min-height: 3em
}

.primary {
    background-color: var(--cta-color) !important;
    color: var(--cta-font-color) !important
}

.secondary {
    background-color: var(--body-background-color) !important
}

@media (prefers-color-scheme:dark) {
    .secondary {
        border: 2px solid var(--cta-color) !important;
        color: var(--cta-color) !important
    }
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    background: var(--html-background-color);
    scroll-behavior: smooth;
    position: relative
}

body {
    min-height: 100vh;
    background: var(--body-background-color);
    position: relative;
    overflow-wrap: break-word;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
    scrollbar-width: thin
}

body::-webkit-scrollbar {
    width: 1em
}

body::-webkit-scrollbar-track {
    background: var(--scrollbar-bg)
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 6px;
    border: 3px solid var(--scrollbar-border)
}

p {
    margin: 1em 0 0 0
}

.button,
.button:hover,
button {
    color: var(--content-text-color);
    height: 1.8em;
    padding: 0 .5em;
    margin: .25em;
    display: inline-block;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
}

@media (prefers-color-scheme: dark) {
    .button,
    .button:hover,
    button {
        color: var(--body-background-color);
    }
}

.button {
    box-shadow: var(--drop-shadow-secondary) !important
}

.button:hover,
button:hover {
    text-shadow: none !important;
    transform: translate(1px, 2px) !important;
    box-shadow: none !important;
    font-weight: 600;
}

a {
    color: var(--link-color);
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    font-weight: 600;
    background: 0 0;
    transition: all 100ms
}

a:hover {
    font-weight: 600 !important;
    border-bottom: none;
}

form {
    height: 2em
}

input {
    color: var(--body-background-color);
    background-color: var(--input-background-color);
    font-family: var(--font-family);
    font-size: 14px;
    border-radius: 8px;
    border: var(--thin-border);
    box-shadow: var(--drop-shadow-secondary);
    height: 30px;
    padding: 0 .5em
}

input:focus {
    outline: -webkit-focus-ring-color auto 1px;
    outline-offset: -1px
}

fieldset {
    border: none;
    margin: .5rem 0;
    display: block
}

img,
video {
    max-width: 100%
}

article {
    width: 100%
}

article>h1:first-child {
    margin-top: 1.5em;
    color: var(--title-color);
}

details {
    border-radius: 8px;
    padding: .5em .5em 0
}

summary {
    margin: -.5em -.5em 0;
    padding: .5em;
    cursor: pointer
}

details[open] {
    padding: .5em
}

details[open] summary {
    margin-bottom: .5em
}

hr {
    margin: 2em 0;
    width: 50%;
    border: 0;
    height: 3px;
    background: var(--content-text-color);
    border-radius: 1.5px;
    box-shadow: var(--drop-shadow)
}

footer {
    padding: 1rem;
}

#centered-footer {
    width: 100%;
    font-size: .9em;
    text-align: center;
    padding-bottom: 3rem !important
}

.hidden {
    display: none !important
}

:root {
    --scrollbar-bg: var(--color-bg);
    --scrollbar-thumb: var(--color-secondary);
    --shadow-shape: 2px 5px 8px;
    --color-shadow: rgba(0, 0, 0, .1);
    --border-radius: 6px
}

:root {
    --content-width: 60rem;
    --content-margin: 1.5rem;
    --content-padding: 1.5rem;
    --item-margin: 0
}

div.metadata__row {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    min-height: 1.5rem;
    max-height: 4rem
}

p#author-name,
p.metadata {
    margin-top: 0 !important;
    padding-top: 0 !important
}