@charset "UTF-8";

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4 {
    display: block;
    margin-bottom: .5em;
    font-family: var(--font-family);
    padding-top: 50px
}

.markdown h1 a,
.markdown h2 a,
.markdown h3 a,
.markdown h4 a {
    border-bottom: none;
    color: var(--title-color);
    font-weight: inherit;
}

.markdown h1 a::before,
.markdown h2 a::before,
.markdown h3 a::before,
.markdown h4 a::before {
    content: '¶  ';
    transition: opacity .3s ease;
    opacity: 0;
    display: block;
    position: absolute;
    transform: translateX(-.9em)
}

.markdown h1 a:hover::before,
.markdown h2 a:hover::before,
.markdown h3 a:hover::before,
.markdown h4 a:hover::before {
    opacity: 1
}

.markdown h1 a:hover,
.markdown h2 a:hover,
.markdown h3 a:hover,
.markdown h4 a:hover {
    text-shadow: none !important;
    font-weight: inherit !important;
}

.markdown h1 a code,
.markdown h2 a code,
.markdown h3 a code,
.markdown h4 a code {
    font-size: inherit;
    font-family: var(--code-font) !important;
    padding: 0
}

.markdown img,
.markdown video {
    display: block;
    margin: 1em auto;
    border-radius: 8px
}

@media (prefers-color-scheme:light) {

    .markdown .screenshot>img,
    .markdown img[src*='#screenshot'] {
        -webkit-box-shadow: 3px 4px 9px 8px rgba(0, 0, 0, .1);
        -moz-box-shadow: 3px 4px 9px 8px rgba(0, 0, 0, .1);
        box-shadow: 3px 4px 9px 8px rgba(0, 0, 0, .1)
    }
}

@media (prefers-color-scheme:dark) {

    .markdown .screenshot>img,
    .markdown img[src*='#screenshot'] {
        -webkit-box-shadow: 3px 6px 9px 8px rgba(0, 0, 0, .3);
        -moz-box-shadow: 3px 6px 9px 8px rgba(0, 0, 0, .3);
        box-shadow: 3px 6px 9px 8px rgba(0, 0, 0, .3)
    }
}

.markdown .img-caption,
.markdown figcaption>p {
    text-align: center;
    font-style: italic;
    max-width: 800px;
    margin: 1em auto;
    font-size: .9em;
    color: var(--content-text-secondary-color)
}

.markdown figure.feature {
    width: 220px;
    margin: 2em auto 1em auto !important;
    border: var(--thin-border);
}

.markdown figure.feature img {
    border-radius: 8px;
    box-shadow: var(--drop-shadow);
    border-radius: 50% !important;
    border: var(--thin-border);
}

.markdown .highlight {
    position: relative;
    margin-bottom: 2.5em;
    margin-top: 35px;
    padding-top: 1.5em;
    border: 2px solid var(--window-border-color);
    border-radius: 8px;
    background-color: var(--code-block-color)
}

@media (prefers-color-scheme:light) {
    .markdown .highlight {
        -webkit-box-shadow: 3px 4px 9px 8px rgba(0, 0, 0, .1);
        -moz-box-shadow: 3px 4px 9px 8px rgba(0, 0, 0, .1);
        box-shadow: 3px 4px 9px 8px rgba(0, 0, 0, .1)
    }
}

@media (prefers-color-scheme:dark) {
    .markdown .highlight {
        -webkit-box-shadow: 3px 6px 9px 8px rgba(0, 0, 0, .3);
        -moz-box-shadow: 3px 6px 9px 8px rgba(0, 0, 0, .3);
        box-shadow: 3px 6px 9px 8px rgba(0, 0, 0, .3)
    }
}

.markdown .highlight::before {
    background-color: var(--window-border-color);
    height: 35px;
    width: 12%;
    padding-left: 88%;
    border-top-left-radius: calc((8px) - 3px);
    border-top-right-radius: calc((8px) - 3px);
    position: absolute;
    top: 0;
    z-index: 0;
    content: ''
}

@media all and (min-width:768px) {
    .markdown .highlight::before {
        content: url(/img/window-buttons.svg)
    }
}

.markdown pre,
.markdown pre.chroma {
    background-color: var(--code-block-color);
    overflow-x: auto;
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
    scrollbar-width: thin;
    margin: 2em 0 1em 0;
    padding: 1em;
}

.markdown pre.chroma::-webkit-scrollbar,
.markdown pre::-webkit-scrollbar {
    width: 1em
}

.markdown pre.chroma::-webkit-scrollbar-track,
.markdown pre::-webkit-scrollbar-track {
    background: var(--scrollbar-bg)
}

.markdown pre.chroma::-webkit-scrollbar-thumb,
.markdown pre::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 6px;
    border: 3px solid var(--scrollbar-border)
}

.markdown code {
    font-size: calc(var(--font-size) * var(--scale));
    font-family: var(--code-font);
    color: var(--code-text-color);
    background-color: var(--code-block-color);
    padding: .1em .3em;
    border-radius: calc(8px / 2)
}

.markdown pre>code {
    word-break: break-all;
    border: none;
    padding: 0;
    color: var(--code-block-text-color);
    background-color: transparent
}

.markdown blockquote {
    background-color: var(--feature-background-color);
    border-radius: 8px;
    border-left: 3px solid var(--code-block-color);
    width: 70%;
    margin: 0 auto
}

@media all and (min-width:768px) {
    .markdown blockquote {
        margin: 1em auto
    }
}

.markdown blockquote p {
    padding: 1em;
    color: var(--feature-text-color)
}

.markdown blockquote ol,
.markdown blockquote ul {
    margin-left: 2em
}

.markdown ul>li {
    list-style: disc outside
}

.markdown ul>li:last-child {
    margin-bottom: 1em
}

.markdown ol>li {
    list-style: decimal outside
}

.markdown ol>li:last-child {
    padding-bottom: 1em
}

.markdown li>ol {
    margin: 1em
}

.markdown li>ol li:last-child {
    margin-bottom: 0
}

.markdown ol,
.markdown ul {
    margin: 1em;
    margin-left: 2em
}

.markdown li {
    padding-left: .5em;
    margin: 0 0 0 1em
}

.markdown li p {
    font-family: var(--font-family);
    margin-top: 0
}

.markdown table {
    width: 100%;
    border-collapse: collapse;
    margin: 1em auto
}

.markdown table th {
    font-size: .9em;
    background-color: var(--table-alt-color)
}

@media (max-width:370px) {
    .markdown table th {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 1fr))
    }
}

.markdown table tr:nth-child(even) {
    background-color: var(--table-alt-color)
}

@media (max-width:420px) {
    .markdown table tr {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 1fr))
    }
}

.markdown table td,
.markdown table th {
    padding: 5px;
    text-align: left;
    border: 1px solid var(--shadow)
}

.markdown hr {
    overflow: visible;
    border: 0;
    margin: 2em auto;
    content: "";
    background: var(--content-text-color);
    box-shadow: var(--drop-shadow);
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: relative
}

.markdown hr:before {
    content: "";
    background: var(--content-text-color);
    box-shadow: var(--drop-shadow);
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: absolute;
    left: -1rem
}

.markdown hr:after {
    content: "";
    background: var(--content-text-color);
    box-shadow: var(--drop-shadow);
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    position: absolute;
    left: 1rem
}

.markdown hr~h2 {
    padding-top: calc(60px - 2em)
}

.markdown .twitter-tweet {
    margin: 2rem auto !important;
    border: var(--thin-border);
    box-shadow: var(--drop-shadow);
}