div#dot{transition:all 150ms}
div#dot a{color:var(--content-text-color);border:none;opacity:50%}
div#dot a:hover{color:var(--content-text-color)!important;box-shadow:none!important;text-shadow:none!important;transform:translate(2px,2px)}
ul#shields{margin:1em 0!important}
ul#shields li{display:inline-block;padding:0 .5em 0 0;margin:0!important}
ul#shields li a{display:inline-block;border-bottom:none;text-shadow:none!important;height:1em;line-height:0;font-weight:600}
ul#shields li a img{margin:0!important;font-size:1rem}
ul#shields li a:hover{background:0 0!important}
.rpg{min-height:32rem;font-family:var(--code-font);font-size:.85em;border-radius:8px;background-color:var(--feature-background-color);border-radius:8px;box-shadow:var(--drop-shadow);position:relative;margin-bottom:2.5em;margin-top:35px;padding-top:1.5em;border:2px solid var(--window-border-color);border-radius:8px;background-color:var(--code-block-color)}
.rpg::before{background-color:var(--window-border-color);height:35px;width:10%;padding-left:90%;border-top-left-radius:calc((8px) - 3px);border-top-right-radius:calc((8px) - 3px);position:absolute;top:0;z-index:0;content:''}
@media all and (min-width:768px){
.rpg::before{content:url(/img/window-buttons.svg)}
}
.rpg p{padding:.5em}
.rpg .highlight{box-shadow:none;background-color:transparent;border:none;margin:0}
.rpg .highlight::before{display:none}
.rpg input{border:none;box-shadow:none;margin:.5rem;padding:.5rem;background:0 0;width:calc(100% - 1rem);font-family:var(--code-font)}
.book-list{padding:2rem 0;margin-bottom:3rem}
.book{justify-content:flex-start;margin:1em auto;width:100%}
.card-img{min-width:max-content}
@media (min-width:420px){
.card-img{padding-right:2rem}
}
.card-img img{max-height:250px;border-radius:8px;box-shadow:var(--drop-shadow)}
@media (min-width:420px){
.card-img img{margin:0}
}
@media (max-width:768px){
.card-img img{margin:0 auto}
}
.card-title{font-weight:800;padding-top:1rem!important}
.card-text{font-size:1rem}
.cta{height:6em}