#menu {
    width: 100%
}

@media all and (max-width:768px) {
    #menu {
        display: none
    }
}

#menu ul {
    padding: calc(60px/2);
    margin: 0 auto;
    font-family: var(--sans);
    display: flex;
    flex-direction: row
}

#menu ul li.menu-item {
    list-style: none;
    min-width: 8rem;
    font-size: calc(var(--font-size) * var(--scale));
    text-align: center;
}

#menu ul li.menu-item a {
    color: var(--content-text-color);
    border-bottom: none;
    font-weight: 500;
}

#menu ul li.menu-item a:hover {
    border-bottom: none
}

#menu ul li.menu-item:first-child {
    padding: 0
}

@media all and (max-width:768px) {
    #menu ul li.menu-item {
        padding: 0 calc(60px/2) 0 calc(60px/2)
    }

    #menu ul li.menu-item:first-child {
        padding: 0 calc(60px/2) 0 0
    }
}

#menu ul li.menu-item img {
    transform: translateY(2px)
}

#menu ul .menu-item.active span {
    border-bottom: 3px solid var(--link-hover-underline);
    color: var(--title-color) !important
}

#menu-mobile {
    width: 100%
}

@media all and (min-width:768px) {
    #menu-mobile {
        display: none
    }
}

#menu-mobile ul {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: row;
    padding: .75em;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: flex-end;
    z-index: 20;
    background-color: var(--body-background-color);
    color: var(--cta-font-color)
}

#menu-mobile ul li.menu-item {
    list-style: none
}

#menu-mobile ul li.menu-item a,
#menu-mobile ul li.menu-item span {
    border-radius: 8px;
    border-bottom: none
}

#menu-mobile ul li.menu-item:hover {
    background-color: var(--link-hover-underline)
}

.pagination {
    width: 100%;
    margin: 3em auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.pagination .page-item {
    margin: 0 .5em;
    list-style-type: none;
    text-align: center
}

.pagination .page-link {
    background: 0 0;
    font-size: .8rem
}

.number {
    border-radius: 8px;
    margin: 4px 3px !important;
    background-color: var(--feature-background-color);
    box-shadow: var(--drop-shadow);
    border: var(--thin-border);
    border-radius: 8px;
    font-weight: 600
}

.number a:hover {
    text-shadow: none !important;
    color: var(--feature-text-color)
}

.number:hover {
    transform: translate(1px, 2px) !important;
    box-shadow: none !important;
    color: var(--feature-text-color)
}

.number a {
    border-bottom: none;
    padding: .75em;
    color: var(--feature-text-color)
}

.back-link {
    font-family: var(--sans);
    font-size: .9em
}

@media (prefers-color-scheme:light) {
    .filter-icon {
        filter: invert(3%) sepia(3%) saturate(2734%) hue-rotate(201deg) brightness(95%) contrast(98%)
    }

    @media all and (max-width:768px) {
        .filter-icon {
            filter: invert(93%) sepia(3%) saturate(2734%) hue-rotate(201deg) brightness(95%) contrast(98%)
        }
    }
}

@media (prefers-color-scheme:dark) {
    .filter-icon {
        filter: invert(96%) sepia(42%) saturate(0) hue-rotate(148deg) brightness(94%) contrast(86%)
    }
}