<div class="row book">
    <div class="card-img">
        <a href="{{ with .Get "link" }}{{.}}{{ end }}">
            <img src="{{ with .Get "image" }}{{.}}{{ end }}" />
        </a>
    </div>
    <div class="card-content">
        <h3 class="card-title">
            <a href="{{ with .Get "link" }}{{.}}{{ end }}">
                {{ with .Get "title" }}{{.}}{{ end }}
            </a>
        </h3>
        <p class="card-text"><em>{{ with .Get "author" }}{{.}}{{ end }}</em></p>
        <p class="card-text">{{ with .Get "text" }}{{.}}{{ end }}</p>
    </div>
</div>
