<button class="subscribe-button" onclick="openSubscribeModal()">
    <span class="subscribe-icon">📧</span>
    <span class="subscribe-text">Subscribe</span>
</button>

<!-- Subscribe Modal Overlay -->
<div id="subscribe-modal" class="subscribe-modal">
    <div class="subscribe-modal-content">
        <button class="subscribe-modal-close" onclick="closeSubscribeModal()">&times;</button>
        <div class="subscribe-modal-body">
            <iframe src="https://victoriadrake.substack.com/embed" width="480" height="320" style="border:1px solid #EEE; background-color:transparent !important;" frameborder="0" scrolling="no"></iframe>
        </div>
    </div>
</div>
